<!-- NAVBAR -->
<header>
  <nav class="nav-extended transparent">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
      <ul class="nav-mobile hide-on-small-only">
        <div class="left">
          <li><a class="black-text" href="sass.html">Aujourd'hui</a></li>
          <li><a class="black-text" href="badges.html">Cette semaine</a></li>
          <li><a class="black-text" href="collapsible.html">30 derniers jours</a></li>
          <li><a class="black-text" href="mobile.html">Cette année</a></li>
        </div>
        <div class="right">
          <li><span>Du ...</span></li>
          <li><button type="text" class=" transparent custom_calendar_btn datepicker"><i class="material-icons black-text">date_range</i></button></li>
          <li><span>Au ...</span></li>
          <li><button type="text" class=" transparent custom_calendar_btn datepicker"><i class="material-icons black-text">date_range</i></button></li>
        </div>
      </ul>
      <ul class="nav-mobile hide-on-med-and-up">
        <div class="left">
          <li><a class="black-text" href="sass.html">1D</a></li>
          <li><a class="black-text" href="badges.html">1W</a></li>
          <li><a class="black-text" href="collapsible.html">1M</a></li>
          <li><a class="black-text" href="mobile.html">1Y</a></li>
        </div>
        <div class="right">
          <li><button type="text" class=" transparent custom_calendar_btn datepicker"><i class="material-icons black-text">date_range</i></button></li>
          <li><button type="text" class=" transparent custom_calendar_btn datepicker"><i class="material-icons black-text">date_range</i></button></li>
        </div>
      </ul>
    </div>
    <div class="nav-content">
      <a id="custom_nantes_btn" class="waves-effect waves-light btn black-text" href="#test1">Nantes</a>
      <a id="custom_renne_btn" class="waves-effect waves-light btn black-text" href="#test1">Renne</a>
      <a id="custom_anger_btn" class="waves-effect waves-light btn black-text" href="#test1">Anger</a>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><p class="subheader center">LOGO</p></li>
    <li><a class="center" href="https://github.com/dogfalo/materialize/" target="_blank">Parking</a></li>
    <li><a class="center" href="https://twitter.com/MaterializeCSS" target="_blank">Horodateur</a></li>
    <li><a class="center" href="http://next.materializecss.com/getting-started.html" target="_blank">2 Roues</a></li>
    <li><a class="center" href="http://next.materializecss.com/getting-started.html" target="_blank">Air de covoiturage</a></li>
  </ul>
</header>

<!-- LEFT SIDEBAR	 -->
<ul id="sidenav-1" class="sidenav sidenav-fixed transparent">
  <li><p class="subheader center">LOGO</p></li>
  <li><a class="center" href="https://github.com/dogfalo/materialize/" target="_blank">Parking</a></li>
  <li><a class="center" href="https://twitter.com/MaterializeCSS" target="_blank">Horodateur</a></li>
  <li><a class="center" href="http://next.materializecss.com/getting-started.html" target="_blank">2 Roues</a></li>
  <li><a class="center" href="http://next.materializecss.com/getting-started.html" target="_blank">Air de covoiturage</a></li>
</ul>

<main>
  <div class="row">
    <div class="col s8">
      <div class="card fix">
        <p class="center">Graph </p>
        <span class="black-text">

        </span>
      </div>
      <div class="card fix">
        <p class="center">Graph </p>
        <span class="black-text">

        </span>
      </div>
      <div class="card fix">
        <p class="center">Graph </p>
        <span class="black-text">

        </span>
      </div>
      <div class="card fix">
        <p class="center">Graph </p>
        <span class="black-text">

        </span>
      </div>

    </div>
    <div class="col s4">

      <div class="card fix">
        <p class="center">Chiffre clés</p>
        <span class="black-text">
        </span>
      </div>
      <div class="card fix">
        <p class="center">Chiffre clés</p>
        <span class="black-text">
        </span>
      </div>
      <div class="card fix">
        <p class="center">Chiffre clés</p>
        <span class="black-text">
        </span>
      </div>
      <div class="card fix">
        <p class="center">Chiffre clés</p>
        <span class="black-text">
        </span>
      </div>



    </div>
  </div>
</main>




<!--<h1>{{title}}</h1>-->
<!--<app-header></app-header>-->
<!--<router-outlet></router-outlet>-->
<!--<app-graph></app-graph>-->
