<div class="content">
  <div class="nav_left">
    <div class="logo">
      <p>LOGO</p>
    </div>
    <div>
      <a href="#">parking</a>
      <a href="#">horodateur</a>
      <a href="#">2 roue</a>
      <a href="#">air de covoiturage</a>
    </div>
  </div>
  <div class="content_right">
    <div class="nav_top_1">

      <div class="nav_top_1_left">
        <button class="btn">Aujourd'hui</button>
        <button class="btn">Cette semaine</button>
        <button class="btn">30 derniers jours</button>
        <button class="btn">Cette année</button>
      </div>
      <div class="nav_top_1_right">

        <input placeholder="DU .." id="start_date" type="text" />
        <label for="start_date"><i class="material-icons">date_range</i></label>
        <input placeholder="AU .." id="end_date" type="text" />
        <label for="end_date"><i class="material-icons">date_range</i></label>


      </div>
    </div>
    <div class="nav_top_2">
      <button class="btn">Nantes</button>
      <button class="btn">Renne</button>
      <button class="btn">Anger</button>
    </div>
    <div class="graph">
      <div class="graph_content">
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>
        <div class="b_card">tazfqsf</div><br>

      </div>
      <div class="graph_info">
        <div class="l_card">zafdqsqfsd</div><br>
        <div class="l_card">zafdqsqfsd</div>
        <div class="l_card">zafdqsqfsd</div>
        <div class="l_card">zafdqsqfsd</div>
        <div class="l_card">zafdqsqfsd</div>
        <div class="l_card">zafdqsqfsd</div>
        <div class="l_card">zafdqsqfsd</div>
        <div class="l_card"></div>
        <div class="l_card"></div>
      </div>

    </div>
  </div>

</div>


<!--<p>LOGO</p>-->

<!--<h1>{{title}}</h1>-->
<!--<app-header></app-header>-->
<!--<router-outlet></router-outlet>-->
